*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}
form{
    margin: 10px auto;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 70%;
    gap: 20px;
}
             

button{
    background-color: white;
    color: blue;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
}

#players{
    display: flex;
    justify-content: space-around;
    height: 20vh;
}

#search-player{
    background-color: rgba(128, 128, 128, 0.377);
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#select{
    width: 90%;
    border-radius: 8px;
    padding: 8px;

}


select{
    width: 90%;
    border-radius: 8px;
    padding: 8px;

}


table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}


th,td{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
}


.player{
    background-color: rgba(128, 128, 128, 0.377);
    color: white;
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
    